# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight Digibyte Client
Exec=digielectrum %u
GenericName[en_US]=DigiElectrum
GenericName=DigiElectrum
Icon=/usr/share/app-install/icons/digielectrum.png
Name[en_US]=Electrum Digibyte Wallet
Name=Electrum Digibyte Wallet
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/digibyte

